body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
}
canvas {
    padding:0;
    margin:0;
}

.btnbg > div{
	color: #fff;
	left: 758px;
	transform: translateX(-50%);
	top: 60px;
	position: absolute;
	text-align: center;
	width: 322px;
	height: 871px;
}
span{
    font-size: 70px;
}
p{
    font-size: 40px;
}
#wrap span{
    display: block;
    width:100px;
    height:100px;
    background-color: rgb(10, 118, 212);
    position: absolute;
    top:50px;
    left:50px;
}

#wrap{
    width: 100px;
    height:100px;
    margin:260px auto;
	margin-top:110px;
    animation: rotate 10s infinite;
    transform-style:preserve-3d ;
}

#wrap span img{
    width:100px;
    height:100px;
}

#in-front{
    transform: translateZ(50px);
}

#in-back{
    transform: translateZ(-50px);
}

#in-left{
    transform: rotateY(90deg)  translateZ(50px);
}

#in-right{
    transform:  rotateY(-90deg) translateZ(50px);
}

#in-top{
    transform:   rotateX(90deg) translateZ(50px);
}

#in-bottom{
    transform:  rotateX(-90deg) translateZ(50px);
}

@keyframes rotate{
    from{
        transform: rotateX(0deg)  rotateY(0deg);
    }
    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
}

#wrap div{
    width:200px;
    height:200px;
    background-color: brown;
    position: absolute;
}
#wrap div img{
    width:200px;
    height:200px;
}

#out-front{
    transform: translateZ(100px);
}

#out-back{
    transform: translateZ(-100px);
}

#out-left{
    transform: rotateY(90deg)  translateZ(100px);
}

#out-right{
    transform:  rotateY(-90deg) translateZ(100px);
}

#out-top{
    transform:   rotateX(90deg) translateZ(100px);
}

#out-bottom{
    transform:  rotateX(-90deg) translateZ(100px);
}

#wrap:hover #out-front{
    transform: translateZ(150px);
}

#wrap:hover #out-left{
    transform: rotateY(90deg)  translateZ(150px);
}

#wrap:hover #out-right{
    transform:  rotateY(-90deg) translateZ(150px);
}

#wrap:hover #out-back{
    transform: translateZ(-150px);
}

#wrap:hover #out-top{
    transform:   rotateX(90deg) translateZ(150px);
}
#wrap:hover #out-bottom{
    transform:  rotateX(-90deg) translateZ(150px);
}


h2{color:#F66;
}
h3{color:#CCF;}
.one{color:#3CF;}
#two{color:#3FF;}
h4{color:#30F;}
